<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <title>Panel de Control</title>
   <style>
      .vincular,
      .video {
         display: none;
      }
   </style>
</head>

<body style="background-color: black;">
   <div class="container p-5">
      <nav style="border-radius: 10px;" class="navbar navbar-expand-lg navbar-light bg-dark">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul sty class="navbar-nav">
               <li class="nav-item m-1">
                  <a class="nav-link btn btn-warning" href="/new-entry">Noticias</a>
               </li>
               <li class="nav-item m-1">
                  <a class="nav-link btn btn-warning" href="/vincular">Vincular</a>
               </li>
               <li class="nav-item m-1">
                  <a class="nav-link btn btn-warning" href="/publicidad">Publicidad</a>
               </li>
            </ul>
         </div>
      </nav>
      <h1 style="color: white; margin: 1rem 0;">Noticias</h1>
      <div style="border-radius: 20px;" class="cargar-noticia">
         <form method="POST" action="/new-entry" enctype="multipart/form-data" class="card card-body">
            <div class="form-group">
               <label for="categoria">Categoría</label>
               <select class="form-control" name="categoria" required>
                  <option disabled selected>Seleccione Categoria</option>
                  <option value="Turismo Carretera" data-param="tc">Turismo Carretera</option>
                  <option value="Turismo Nacional" data-param="tn">Turismo Nacional</option>
                  <option value="TC Pick Up" data-param="tcp">TC Pick Up</option>
                  <option value="TC Pista" data-param="tcp">TC Pista</option>
                  <option value="TC Mouras" data-param="tcm">TC Mouras</option>
                  <option value="TC Pista Mouras" data-param="tcpm">TC Pista Mouras</option>
                  <option value="TC Pista Pick Up" data-param="tcppk">TC Pista Pick Up</option>
                  <option value="Formula 2 Nacional" data-param="f2-nacional">Fórmula 2 Nacional</option>
                  <option value="TC 2000" data-param="tc2000">TC 2000</option>
                  <option value="TC 2000 Series" data-param="tc2000-series">TC 2000 Series</option>
                  <option value="Top Race" data-param="tr">Top Race</option>
                  <option value="Top Race Series" data-param="tr-series">Top Race Series</option>
                  <option value="Turismo Pista" data-param="tp">Turismo Pista</option>
                  <option value="Rally" data-param="rally-argentino">Rally</option>
                  <option value="F 1" data-param="f1">Fórmula 1</option>
                  <option value="Moto GP" data-param="moto-gp">Moto GP</option>
                  <option value="Indycar Series" data-param="indycar-series">Indycar Series</option>
                  <option value="Nascar" data-param="nascar">Nascar</option>
                  <option value="Rally Mundial" data-param="rally-mundial">Rally Mundial</option>
                  <option value="Dakar" data-param="dakar">Dakar</option>
                  <option value="TCR" data-param="tcr">TCR</option>
                  <option value="Fórmula E" data-param="formula-e">Fórmula E</option>
                  <option value="Arg Mundo" data-param="arg-mundo">Argentinos en el mundo</option>
               </select>
            </div>
            <input type="hidden" name="param" id="param-field" value="">
            <div class="form-group" style="margin-top: 0.5rem;">
               <label for="title">Titulo</label>
               <input class="form-control" type="text" name="title" placeholder="Ingresa el titulo" autofocus required>
            </div>
            <div class="form-group" style="margin-top: 0.5rem;">
               <label for="videoCheckbox">Video</label>
               <input type="checkbox" id="videoCheckbox" onchange="toggleVideoFields()">
            </div>
            <div class="form-group" style="margin-top: 0.5rem;" id="imageInputContainer">
               <label for="file">Imagen</label>
               <input class="form-control" type="file" name="image" placeholder="Enlace" autofocus>
            </div>
            <div class="form-group" style="margin-top: 0.5rem;">
               <label for="file">Imágenes en el cuerpo de la noticia</label>
               <input class='form-control' type="file" id="imageCuerpo" name="imageCuerpo" multiple>
            </div>
            <div class="form-group">
               <label for="idVideo" id="idVideoLabel" style="display: none;">ID del Video</label>
               <input class="form-control" type="text" name="idVideo" id="idVideo" placeholder="ID del video"
                  style="display: none;">
            </div>
            <div class="form-group" style="margin-top: 0.5rem;">
               <label for="file">Audio</label>
               <input class='form-control' type="file" id="audio" name="audio" accept="audio/*" multiple>
            </div>
            <div class="form-group" style="margin-top: 1rem;">
               <button type="button" onclick="agregarCitaTextual()">Cita Textual</button>
               <button type="button" onclick="destacar()">Destacar</button>
               <button type="button" onclick="vinculo()">Vinculo</button>
               <button type="button" onclick="agregarImagen()">Foto</button>
               <button type="button" onclick="agregarVideo()">Video</button>
               <button type="button" onclick="tanda()">Tanda</button>
               <button type="button" onclick="linkFecha()">Link Fecha</button>
               <textarea id="editor" cols="30" rows="10" class="form-control" type="text" name="cuerpo"
                  placeholder="Ingresa el texto" autofocus></textarea>
            </div>
            <input type="submit" value="Guardar Noticia" class="btn btn-secondary">
         </form>
         <div id="image-preview"></div>
         </form>
         <div>
            <h2 style="color: white; margin: 1rem 0;">General</h2>
            <ul
               style="border: solid 1px #FE0; border-radius: 10px;  background-color: rgb(58, 58, 58); width: 100%; display: flex; flex-wrap: wrap;">
               <% if (noticias && noticias.general) { %>
                  <% for (let i=noticias.general.length - 1; i>= Math.max(noticias.general.length - 10, 0); i--) { %>
                     <li style="color: white; margin: 1rem 0; list-style: none; width: 50%;">
                        <h5><strong>Título</strong>
                           <%= noticias.general[i].title %>
                        </h5>
                        <h5> <strong>Categoria</strong>
                           <%= noticias.general[i].categoria %>
                        </h5>
                        <form method="POST" action="/move-to-priority/<%= noticias.general[i].id %>">
                           <input type="hidden" name="priority" value="primaria">
                           <button style="margin: 0 0.5rem;" type="submit" class="btn btn-success">Primaria</button><a
                              href="/delete/<%= noticias.general[i].id %>" class="btn btn-danger">Eliminar</a>
                        </form>
                     </li>
                     <% } %>
                        <% } else { %>
                           <li>No hay noticias generales disponibles</li>
                           <% } %>
            </ul>

            <h2 style="color: white; text-align: center; margin: 0.5rem 0;">Primaria</h2>
            <ul style="border: solid 1px #FE0;  border-radius: 10px; display: flex; justify-content: center;">
               <% if (noticias && noticias.prioridad && noticias.prioridad.primaria) { %>
                  <% for (let i=noticias.prioridad.primaria.length - 1; i>= Math.max(noticias.prioridad.primaria.length
                     - 10, 0); i--) { %>
                     <li style="color: white;  list-style: none; display: flex; align-items: center; padding: 1rem 0;">
                        <h6 style="margin: 0 1rem;">Título: <%= noticias.prioridad.primaria[i].title %>
                        </h6>
                        <h6 style="margin: 0 1rem;">Categoria: <%= noticias.prioridad.primaria[i].categoria %>
                        </h6>
                        <a href="/delete/<%= noticias.prioridad.primaria[i].id %>" class="btn btn-danger">Eliminar</a>
                     </li>
                     <% } %>
                        <% } else { %>
                           <li>No hay noticias primarias disponibles</li>
                           <% } %>
            </ul>

            <h2 style="color: white; text-align: center; margin: 0.5rem 0;">Secundaria</h2>
            <ul style="border: solid 1px #FE0;  border-radius: 10px; display: flex; justify-content: center;">
               <% if (noticias && noticias.prioridad && noticias.prioridad.secundaria) { %>
                  <% for (let i=noticias.prioridad.secundaria.length - 1; i>=
                     Math.max(noticias.prioridad.secundaria.length - 10, 0); i--) { %>
                     <li style="color: white;  list-style: none; display: flex; align-items: center; padding: 1rem 0;">
                        <h6 style="margin: 0 1rem;">Título: <%= noticias.prioridad.secundaria[i].title %>
                        </h6>
                        <h6 style="margin: 0 1rem;">Categoria: <%= noticias.prioridad.secundaria[i].categoria %>
                        </h6>
                        <a href="/delete/<%= noticias.prioridad.secundaria[i].id %>" class="btn btn-danger">Eliminar</a>
                     </li>
                     <% } %>
                        <% } else { %>
                           <li>No hay noticias secundarias disponibles</li>
                           <% } %>
            </ul>

            <h2 style="color: white; text-align: center; margin: 0.5rem 0;">Terciaria</h2>
            <ul style="border: solid 1px #FE0; border-radius: 10px; display: flex; justify-content: center;">
               <% if (noticias && noticias.prioridad && noticias.prioridad.terciaria) { %>
                  <% for (let i=noticias.prioridad.terciaria.length - 1; i>=
                     Math.max(noticias.prioridad.terciaria.length - 10, 0); i--) { %>
                     <li style="color: white;  list-style: none; display: flex; align-items: center; padding: 1rem 0;">
                        <% if (noticias.prioridad.terciaria[i]) { %>
                           <h6 style="margin: 0 1rem;">Título: <%= noticias.prioridad.terciaria[i].title %>
                           </h6>
                           <h6 style="margin: 0 1rem;">Categoria: <%= noticias.prioridad.terciaria[i].categoria %>
                           </h6>
                           <a href="/delete/<%= noticias.prioridad.terciaria[i].id %>"
                              class="btn btn-danger">Eliminar</a>
                           <% } else { %>
                              Puedes agregar un mensaje o lógica adicional si la noticia no existe -->
                              <p>Noticia no disponible en esta posición</p>
                              <% } %>
                     </li>
                     <% } %>
                        <% } else { %>
                           <li>No hay noticias terciarias disponibles</li>
                           <% } %>
            </ul>

         </div>
      </div>

   </div>

   <script>
      // Función para agregar cita textual al texto seleccionado en el textarea
      function agregarCitaTextual() {
         var textarea = document.getElementById('editor');
         var selectedText = textarea.value.substring(textarea.selectionStart, textarea.selectionEnd);
         var newText = textarea.value.substring(0, textarea.selectionStart) +
            '<span style="color:#FF0000;">"' + selectedText + '"</span>' +
            textarea.value.substring(textarea.selectionEnd);
         textarea.value = newText;
      }

      function destacar() {
         var textarea = document.getElementById('editor');
         var selectedText = textarea.value.substring(textarea.selectionStart, textarea.selectionEnd);
         var newText = textarea.value.substring(0, textarea.selectionStart) +
            '<strong>' + selectedText + '</strong>' +
            textarea.value.substring(textarea.selectionEnd);
         textarea.value = newText;
      }

      document.addEventListener('DOMContentLoaded', function () {
         var categoriaSelect = document.querySelector('select[name="categoria"]');
         var paramField = document.getElementById('param-field');

         categoriaSelect.addEventListener('change', function () {
            var selectedOption = categoriaSelect.options[categoriaSelect.selectedIndex];
            var paramValue = selectedOption.dataset.param;
            paramField.value = paramValue;
         });
      });


      function agregarImagen() {
         var editor = document.getElementById('editor');
         var posicionCursor = editor.selectionStart;
         var textoAnterior = editor.value.substring(0, posicionCursor);
         var textoPosterior = editor.value.substring(posicionCursor, editor.value.length);
         var imagenHTML = '<img src="http://localhost:5000/" alt="Imagen">';
         var nuevoContenido = textoAnterior + imagenHTML + textoPosterior;
         editor.value = nuevoContenido;
      }

      function vinculo() {
         var editor = document.getElementById('editor');
         var posicionCursor = editor.selectionStart;
         var textoAnterior = editor.value.substring(0, posicionCursor);
         var textoPosterior = editor.value.substring(posicionCursor, editor.value.length);
         var imagenHTML = '<a href=""></a>';
         var nuevoContenido = textoAnterior + imagenHTML + textoPosterior;
         editor.value = nuevoContenido;
      }

      function agregarVideo() {
         var editor = document.getElementById('editor');
         var posicionCursor = editor.selectionStart;
         var textoAnterior = editor.value.substring(0, posicionCursor);
         var textoPosterior = editor.value.substring(posicionCursor, editor.value.length);
         var imagenHTML = `<iframe src='https://www.youtube.com/embed/' width='640' height='360' scrolling='no' frameborder='0'></iframe>`;
         var nuevoContenido = textoAnterior + imagenHTML + textoPosterior;
         editor.value = nuevoContenido;
      }

      function linkFecha() {
         var editor = document.getElementById('editor');
         var posicionCursor = editor.selectionStart;
         var textoAnterior = editor.value.substring(0, posicionCursor);
         var textoPosterior = editor.value.substring(posicionCursor, editor.value.length);
         var linkHTML = "<h4>Podés acceder al Centro de Carrera haciendo</h4> <a href='tu_url_aqui' className='link-noticias'>CLICK AQUÍ</a>";
         var nuevoContenido = textoAnterior + linkHTML + textoPosterior;
         editor.value = nuevoContenido;
      }

   </script>

   <script>
      // Función para actualizar el valor del campo param cuando cambia la selección de categoría
      function actualizarParam() {
         var categoriaSelect = document.querySelector('select[name="categoria"]');
         var paramField = document.getElementById('param-field');
         var selectedOption = categoriaSelect.options[categoriaSelect.selectedIndex];
         var paramValue = selectedOption.getAttribute('data-param');
         paramField.value = paramValue;
      }

      // Asignar el evento onchange al select de categoría para llamar a la función actualizarParam
      document.querySelector('select[name="categoria"]').onchange = actualizarParam;

      // Llamar a la función actualizarParam inicialmente para establecer el valor correcto al cargar la página
      actualizarParam();
   </script>

   <script>
      function toggleVideoFields() {
         var videoCheckbox = document.getElementById("videoCheckbox");
         var idVideoLabel = document.getElementById("idVideoLabel");
         var idVideoInput = document.getElementById("idVideo");
         var imageInputContainer = document.getElementById("imageInputContainer");

         if (videoCheckbox.checked) {
            idVideoLabel.style.display = "block";
            idVideoInput.style.display = "block";
            imageInputContainer.style.display = "none";
         } else {
            idVideoLabel.style.display = "none";
            imageInputContainer.style.display = "block";
            idVideoInput.style.display = "none";
         }
      }
   </script>
<script>
function tanda() {
  var editor = document.getElementById("editor");
  var iframeSrc = "URL_DEL_IFRAME"; // Reemplaza "URL_DEL_IFRAME" con la URL del iframe que deseas agregar
  var iframe = "<iframe class='custom-iframe' src='" + iframeSrc + "' width='100%' scrolling='yes' frameborder='0' allowfullscreen='allowfullscreen' style='height: calc(100% - 70rem - 50rem); margin-top: 70rem; margin-bottom: 50rem;'></iframe>";
  editor.value += "\n" + iframe;
}

</script>
</body>

</html>